{% if page.all_news %}
    <p class="title is-4"> Blogs </p>
    <hr/>

    <div class="columns is-multiline">
        {% for post in site.posts %}
            {% if post.categories contains "news" %}
                <div class="column is-one-quarter">
                    {% include post-card.html %}
                </div>
            {% endif %}
        {% else %}
        <p> No Blogs </p>
        {% endfor %}
    </div>

    <div class="block">
        <p class="title is-4"> Press Releases</p>
    </div>

    <hr/>

    <div class="columns is-multiline">
        {% for post in site.posts %}
            {% if post.categories contains "press_release" %}
                <div class="column is-one-quarter">
                    {% include post-card.html %}
                </div>
            {% endif %}
        {% else %}
          <p> No Press Releases </p>
        {% endfor %}
    </div>

{% endif %}
