---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} {% if page.author %} by {{ page.author }} {% endif %} </p>
    <p class="p"> {% include reading-time.html %} </p>
    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
